<div>
  <h2>Task Tracker</h2>
  <h4>Version: 1.0.0</h4>
  <p>
    Task Tracker is a simple and user-friendly web application built using
    <strong>Angular</strong>. It allows users to manage their daily tasks by
    adding, updating, completing, and deleting tasks efficiently.
  </p>

  <p>
    The application uses a mock backend powered by
    <strong>JSON Server</strong>, where <code>db.json</code> acts as the database.
    RESTful APIs are used to perform all CRUD operations.
  </p>

  <p>
    This project was developed as part of an <strong>internship assignment</strong>
    to demonstrate frontend development skills, API integration, and routing
    using Angular.
  </p>
  <a routerLink="/" >←Go Back</a>
</div>